.clear-btn{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #3C3F42;
    color: White;
    flex: 1;
    outline: 1px solid #ffffff;
}